.hidden    {
    display: none;
}

.row_contain    {
    height: auto;
    overflow: auto;
}

.news_thumb {
    width: 100%;
    object-fit: scale-down;
}

.mark_read    {
    opacity: 0.5;
}

.modal-body img {
    width: 100%;
    height: auto;
/*    object-fit: scale-down;*/
;
